<!doctype html>
<!--[if IE 9]>    <html lang="en" class="ie ie9 lte9">           <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>Augur Crowdsale</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,600,700,400italic,300italic,300,100,500&amp;subset=latin-ext,vietnamese' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/flexslider.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.structure.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script type="text/javascript" src="js/vendor/jquery.js"></script>
    <script type="text/javascript" src="js/vendor/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="js/vendor/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/vendor/picturefill.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
</head>

<body class="subpage">
    <div id="page">
        <!-- SCHEDULE SECTION -->
        <section class="schedule-section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <span data-picture data-alt="Augur" class="main-image">
                    <span data-src="img/Augur_Logo.png"></span>
                        <span data-src="img/Augur_Logo.png" data-media="(min-device-pixel-ratio: 1), (-webkit-min-device-pixel-ratio: 1), (min-resolution: 192dpi)"></span>
                        <noscript>
                            <img src="img/Augur_Logo.png" alt="Augur" />
                        </noscript>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1">
                        <div class="buy-box pre-sale">
                            <iframe style="border:none;overflow:hidden;" scrolling="no" width="332" height="162" src="http://www.worldclock.com/preview2.php?lo1=ffffff&lo2=14&lo3=normal&sa1=b57ca6&sa2=22&sa3=bold&ta1=b57ca6&ta2=22&ta3=normal&ce1=ffffff&ce2=320&ce3=150&ce4=0&ar1=ffffff&se1=580&dil=en&title=Augur-Crowdsale&day=21&month=08&year=2015&hour=0&minute=0"></iframe><a href="http://www.worldclock.com/current-local-time-in-london_580.htm" style="position:absolute; top:0; left:0; display:inline-block; width:320px; height:150px; z-index:50;" target="_blank" rel="nofollow" title="by worldclock.com"></a>
                        </div>
                        <div class="holder-schedule">
                            <h6 class="smallest-headings">PRICE SCHEDULE</h6>

                            <div class="boxes">
                                <div>
                                    <span class="active"><strong>True Augur</strong><br> June 15th</span>
                                    <p><span>Crowdsale starts: </span>10% Discount Buy</p>
                                </div>
                                <div>
                                    <span class="active"><strong>Prophet</strong><br> June 20th</span>
                                    <p>Phase One:
                                        <br> 7% Discount By-In</p>
                                </div>
                                <div class="date">
                                    <span class="active"><strong>Nate Silver</strong><br> June 30th</span>
                                    <p>Phase 2:
                                        <br>5% Discount Buy-In</p>
                                </div>
                                <div>
                                    <span class="active"><strong>Weatherman</strong><br> July 15th</span>
                                    <p>Discounts end.
                                        <br> Sale ends July 30th.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <hr class="divider two" />
            </div>
        </section>
        <!-- SHEDULE SECTION END -->

        <!-- TABS WITH VIDEO SECTION -->
        <section class="tabs-video-section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="smaller-headings-section">Project Introduction</h2>
                        <div id="video-tabs" class="tabs">
                            <div id="tabs-1">
                                <div class="video-box">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dweuE2DC4DI?rel=0"></iframe>
                                    </div>
                                </div>
                            </div>
                            <div id="tabs-2">
                                <div class="video-box">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <p><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yegyih591Jo?rel=0"></iframe></p>
                                    </div>
                                </div>
                            </div>
                            <div id="tabs-3">
                                <div class="video-box">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <p><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sCms-snzHk4?rel=0"></iframe></p>
                                    </div>
                                </div>
                            </div>
                            <div id="tabs-4">
                                <div class="video-box">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <p><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jYLgRo8upO0?rel=0"></iframe></p>
                                    </div>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <a href="#tabs-1">
                                        <span>An Introduction to a Decentralized Prediction Market</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tabs-2">
                                        <span>How Augur Works</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tabs-3">
                                        <span>How Reputation Works</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tabs-4">
                                        <span>An Introduction to Prediction Markets</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <hr class="divider two" />
            </div>
        </section>
        <!-- TABS WITH VIDEO SECTION END -->

        <!-- SUMMARY AND FEATURES SECTION -->
        <section class="summary-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-5 col-md-offset-1">
                        <div class="wrapper-column">
                            <h3 class="col-headings">SUMMARY</h3>
                            <p>Augur is the future of forecasting. Instead of depending on pundits and polls, both of which are notoriously poor sources for predictions of future outcomes, Augur unleashes the power of prediction markets, harnessing the “wisdom of crowds.” As opposed to trusting individuals, whose intentions cannot be known, Augur forces market participants to put their money where there mouth is. This leads to reliable pricing on event predictions.</p>
                            <p>Unlike most databases, the blockchain is distributed across the Internet, making it practically impossible to shut down. Whereas the Bitcoin blockchain is a record of financial transactions, Augur is designed to be a robust prediction market platform. Entries stored in Augur can never be changed or deleted. This makes Augur an ideal platform for a wide range of forecasting applications, including politics, sports, product prototyping, climatology, academic research, business management, and much, much more.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5">
                        <div class="wrapper-column">
                            <h3 class="col-headings">FEATURES</h3>
                            <div>
                                <h6 class="smallest-headings">GLOBAL MARKET OF PREDICTIONS</h6>
                                <p> Anyone with an Internet connection and digital currency can participate in what will be an expansive number of markets
                                </p>
                            </div>
                            <div>
                                <h6 class="smallest-headings">REWARDS AT EVERY STEP</h6>
                                <p>Be rewarded for creating markets, making accurate predictions, and if you hold REP, reporting on the outcome of events (half of the trading fees weighted by how much REP you have).
                                </p>
                            </div>
                            <div>
                                <h6 class="smallest-headings">BUILT FOR BITCOINERS</h6>
                                <p>Although we determined that Ethereum would be better to build Augur on, we are focused on making this a tool for bitcoiners, too.  We plan on accepting Bitcoin, Ether, and stable cryptocurrencies in markets.
                                </p>
                            </div>
                            <div>
                                <h6 class="smallest-headings">UNPRECEDENTED OPPORTUNITY</h6>
                                <p>A prediction market platform like this has never existed. What will you forecast?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="holder-links cf">
                            <a href="https://github.com/augurproject/" class="icon-github">GitHub</a>
                            <a href="https://twitter.com/augurproject" class="icon-twitter">Twitter</a>
                            <a href="https://www.facebook.com/augurproject" class="icon-facebook">Facebook</a>
                            <a href="http://www.augur.net">http://www.augur.net</a>
                            <div class="links">
                                <a href="http://www.augur.link/augur.pdf">Whitepaper (PDF)</a>
                                <a href="http://www.augur.net/blog/what-is-reputation"> All About Reputation </a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="divider two" />
            </div>
        </section>
        <!-- SUMMARY AND FEATURES SECTION END -->

        <!-- ABOUT AUGUR SECTION -->
        <section class="about-factom-section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="smaller-headings-section">About Augur</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-5 col-md-offset-1">
                        <div class="holder-team">
                            <h3 class="col-headings">TEAM</h3>
                            <div class="member-team">
                                <a href="#">
                                    <span data-picture data-alt="illustration" class="img">
                                <span data-src="img/teamMembers/chris.png"></span>
                                    <span data-src="img/teamMembers/chris.png" data-media="(min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)"></span>
                                    <noscript>
                                        <img src="img/teamMembers/chris.png" alt="illustration" />
                                    </noscript>
                                    </span>
                                </a>
                                <h4 class="name"><a href="#">Chris Calderon</a></h4>
                                <span class="position">Core Developer</span>
                            </div>
                            <div class="member-team">
                                <a href="#">
                                    <span data-picture data-alt="illustration" class="img">
                                <span data-src="img/teamMembers/perry.png"></span>
                                    <span data-src="img/teamMembers/perry.png" data-media="(min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)"></span>
                                    <noscript>
                                        <img src="img/teamMembers/perry.png" alt="illustration" />
                                    </noscript>
                                    </span>
                                </a>
                                <h4 class="name"><a href="#">Perry Despeignes</a></h4>
                                <span class="position">Special Ops</span>
                            </div>
                            <div class="member-team">
                                <a href="#">
                                    <span data-picture data-alt="illustration" class="img">
                                <span data-src="img/teamMembers/jermey.png"></span>
                                    <span data-src="img/teamMembers/jermey.png" data-media="(min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)"></span>
                                    <noscript>
                                        <img src="img/teamMembers/jermey.png" alt="illustration" />
                                    </noscript>
                                    </span>
                                </a>
                                <h4 class="name"><a href="#">Jeremy Gardner</a></h4>
                                <span class="position">Operations Lead</span>
                            </div>
                            <div class="member-team">
                                <a href="#">
                                    <span data-picture data-alt="illustration" class="img">
                                <span data-src="img/teamMembers/joey.png"></span>
                                    <span data-src="img/teamMembers/joey.png" data-media="(min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)"></span>
                                    <noscript>
                                        <img src="img/teamMembers/joey.png" alt="illustration" />
                                    </noscript>
                                    </span>
                                </a>
                                <h4 class="name"><a href="#">Joey Krug</a></h4>
                                <span class="position">Lead Developer</span>
                            </div>
                            <div class="member-team">
                                <a href="#">
                                    <span data-picture data-alt="illustration" class="img">
                                <span data-src="img/teamMembers/scott.png"></span>
                                    <span data-src="img/teamMembers/scott.png" data-media="(min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)"></span>
                                    <noscript>
                                        <img src="img/teamMembers/scott.png" alt="illustration" />
                                    </noscript>
                                    </span>
                                </a>
                                <h4 class="name"><a href="#">Scott Leonard</a></h4>
                                <span class="position">UI Lead</span>
                            </div>
                            <div class="member-team">
                                <a href="#">
                                    <span data-picture data-alt="illustration" class="img">
                                <span data-src="img/teamMembers/jack.png"></span>
                                    <span data-src="img/teamMembers/jack.png" data-media="(min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)"></span>
                                    <noscript>
                                        <img src="img/teamMembers/jack.png" alt="illustration" />
                                    </noscript>
                                    </span>
                                </a>
                                <h4 class="name"><a href="#">Jack Peterson</a></h4>
                                <span class="position">Lead Developer</span>
                            </div>
                            <div class="member-team">
                                <a href="#">
                                    <span data-picture data-alt="illustration" class="img">
                                <span data-src="img/teamMembers/tony.png"></span>
                                    <span data-src="img/teamMembers/tony.png" data-media="(min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)"></span>
                                    <noscript>
                                        <img src="img/teamMembers/tony.png" alt="illustration" />
                                    </noscript>
                                    </span>
                                </a>
                                <h4 class="name"><a href="#">Tony Sakich</a></h4>
                                <span class="position">Marketing Lead</span>
                            </div>
                            <br>
                            <p> <a href="http://www.augur.net/#team">See More...</a>
                            <br>
                        </div>

                    </div>
                    <div class="col-sm-6 col-md-5">
                        <div class="holder-press-media">
                            <h3 class="col-headings">PRESS &amp; MEDIA</h3>
                            <div class="single-media-wrap">
                                <a href="#">
                                    <span data-picture data-alt="illustration" class="img">
                                <span data-src="img/newsOutlets/bitcoinmag.png"></span>
                                    <span data-src="img/newsOutlets/bitcoinmag.png" data-media="(min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)"></span>
                                    <noscript>
                                        <img src="img/newsOutlets/bitcoinmag.png" alt="illustration" />
                                    </noscript>
                                    </span>
                                </a>
                                <h4 class="link-heading"><a href="https://bitcoinmagazine.com/20166/augur-answers-tough-questions-blockchain-based-prediction-markets/">Augur Answers Tough Questions For Blockchain-Based Prediction Markets</a></h4>
                                <span class="date">April 27, 2015</span>
                            </div>
                            <div class="single-media-wrap">
                                <a href="#">
                                    <span data-picture data-alt="illustration" class="img">
                                <span data-src="img/newsOutlets/btctalk.png"></span>
                                    <span data-src="img/newsOutlets/btctalk.png" data-media="(min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)"></span>
                                    <noscript>
                                        <img src="img/newsOutlets/btctalk.png" alt="illustration" />
                                    </noscript>
                                    </span>
                                </a>
                                <h4 class="link-heading"><a href="https://bitcointalk.org/index.php?topic=860629.0">Augur - A Decentralized Predicion Market: Discussion Thread</a></h4>
                                <span class="date">November 14th, 2014</span>
                            </div>
                            <div class="single-media-wrap">
                                <a href="#">
                                    <span data-picture data-alt="illustration" class="img">
                                <span data-src="img/newsOutlets/newsbtc.png"></span>
                                    <span data-src="img/newsOutlets/newsbtc.png" data-media="(min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)"></span>
                                    <noscript>
                                        <img src="img/newsOutlets/newsbtc.png" alt="illustration" />
                                    </noscript>
                                    </span>
                                </a>
                                <h4 class="link-heading"><a href="http://www.newsbtc.com/2015/01/21/interview-augur/">NewsBTC: An Interview With Augur Team</a></h4>
                                <span class="date">January 21th, 2015</span>
                            </div>
                            <div class="single-media-wrap">
                                <a href="#">
                                    <span data-picture data-alt="illustration" class="img">
                                <span data-src="img/newsOutlets/coindesk.png"></span>
                                    <span data-src="img/newsOutlets/coindesk.png" data-media="(min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)"></span>
                                    <noscript>
                                        <img src="img/newsOutlets/coindesk.png" alt="illustration" />
                                    </noscript>
                                    </span>
                                </a>
                                <h4 class="link-heading"><a href="http://www.coindesk.com/augur-future-blockchain-prediction-market/">Augur Bets on Bright Future for Blockchain Prediction Markets</a></h4>
                                <span class="date">March 1, 2015</span>
                            </div>
                            <div class="single-media-wrap">
                                <a href="#">
                                    <span data-picture data-alt="illustration" class="img">
                                <span data-src="img/newsOutlets/cointelegraph.png"></span>
                                    <span data-src="img/newsOutlets/cointelegraph.png" data-media="(min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)"></span>
                                    <noscript>
                                        <img src="img/newsOutlets/cointelegraph.png" alt="illustration" />
                                    </noscript>
                                    </span>
                                </a>
                                <h4 class="link-heading"><a href="http://cointelegraph.com/news/114028/augur-creates-first-contract-with-ethereum">Augur Creates First Contract with Ethereum</a></h4>
                                <span class="date">April 21, 2015</span>
                            </div>


                            <div class="single-media-wrap">
                                <a href="#">
                                    <span data-picture data-alt="illustration" class="img">
                                <span data-src="img/newsOutlets/ybitcoin.png"></span>
                                    <span data-src="img/newsOutlets/ybitcoin.png" data-media="(min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)"></span>
                                    <noscript>
                                        <img src="img/newsOutlets/ybitcoin.png" alt="illustration" />
                                    </noscript>
                                    </span>
                                </a>
                                <h4 class="link-heading"><a href="http://imgur.com/a/2E8w9">Augur: Welcome To The Future Of Forecasting</a></h4>
                                <span class="date">March 31, 2015</span>
                            </div>
                            <div class="single-media-wrap">
                                <a href="#">
                                    <span data-picture data-alt="illustration" class="img">
                                <span data-src="img/newsOutlets/hackernews.png"></span>
                                    <span data-src="img/newsOutlets/hackernews.png" data-media="(min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)"></span>
                                    <noscript>
                                        <img src="img/newsOutlets/hackernews.png" alt="illustration" />
                                    </noscript>
                                    </span>
                                </a>
                                <h4 class="link-heading"><a href="https://news.ycombinator.com/item?id=8620201">Wager on Anything Using Bitcoin – Decentralized, Trustless Prediction Markets</a></h4>
                                <span class="date">December 6th, 2014</span>
                            </div>




                            <div id="holder-team">
                                <br>
                                <a href="http://www.augur.net/#press">See More...</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <hr class="divider two" />
    </div>
    </section>
    <!-- ABOUT AUGUR SECTION END -->

    <!-- ROADMAP SECTION -->
    <section class="roadmap-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="smaller-headings-section">Roadmap</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="all-options-boxes">
                        <div>
                            <div class="top">
                                <div class="date-box">
                                    <span></span>
                                    <span>Q2'15</span>
                                </div>
                                <span class="text">Augur Alpha Release</span>
                            </div>
                            <div class="bottom">
                                <span><strong>33% Funds</strong> dispersed</span>
                            </div>
                        </div>
                        <div>
                            <div class="top">
                                <div class="date-box">
                                    <span></span>
                                    <span>Q3'15</span>
                                </div>
                                <span class="text">Augur Beta Release</span>
                            </div>
                            <div class="bottom">
                                <span><strong>33% Funds</strong> dispersed</span>
                            </div>
                        </div>
                        <div>
                            <div class="top">
                                <div class="date-box">
                                    <span></span>
                                    <span>Q1'16</span>
                                </div>
                                <span class="text">Augur Full Launch</span>
                            </div>
                            <div class="bottom">
                                <span><strong>33% Funds</strong> dispersed</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-lg-10 col-md-offset-1">
                    <div class="wrapper-info">
                        <div>
                            <h6 class="smallest-headings">Augur Alpha Release</h6>
                            <p>[A]. The beta release of the Augur client includes having various subsystems operational.
                                <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(i). Creation of binary markets on Augur
                                <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(ii). Wagering in markets on Augur
                                <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(iii). Reporting on outcomes of events
                                <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(iv). Closing of markets and payouts </p>
                        </div>
                        <div>
                            <h6 class="smallest-headings">Augur Beta Release</h6>
                            <p>[A]. Accounts on Augur website similar to blockchain.info wallets
                                <br>[B]. Scalar, categorical, and multidimensional markets in UI
                                <br>[C]. An improved, cheaper, and more accurate consensus algorithm
                                <br>[D]. All current alpha bugs fixed  
                                </p>
                        </div>
                        <div>
                            <h6 class="smallest-headings">Augur Full Release</h6>
                            <p>[A]. Augur goes live on the Ethereum network
                                <br>[B]. Launch contingent upon passing and fixing any issues raised in security audits and doing months of testnet testing</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="divider two" />
        </div>
    </section>
    <!-- ROADMAP SECTION END-->

    <!-- FUND MANAGEMENT SECTION -->
    <section class="fund-management-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="smaller-headings-section">Fund management</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p>All proceeds received from Augur software sale are under control of a multi-sig wallet, that will require co-signature of at least 2 signers out of 3 signers listed below.</p>
                    <div class="row holder-people">
                        <div class="col-sm-4">
                            <div class="member-team">
                                <a href="#">
                                    <span data-picture data-alt="illustration" class="img">
                                    <span data-src="img/teamMembers/augurfoundation.png"></span>
                                    <span data-src="img/teamMembers/augurfoundation.png" data-media="(min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)"></span>
                                    <noscript>
                                        <img src="img/teamMembers/augurfoundation.png" alt="illustration" />
                                    </noscript>
                                    </span>
                                </a>
                                <h4 class="name"><a href="#">Forecast Foundation</a></h4>
                                <span class="position">Foundation, Augur</span>
                                <span class="role"><strong>Role:</strong> Fund Reciever</span>
                            </div>
                        </div>
                        <!-- <div class="col-sm-4">
                            <div class="member-team">
                                <a href="#">
                                    <span data-picture data-alt="illustration" class="img">
                                    <span data-src="img/teamMembers/jermey.png"></span>
                                    <span data-src="img/teamMembers/jermey.png" data-media="(min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)"></span>
                                    <noscript>
                                        <img src="" alt="illustration" />
                                    </noscript>
                                    </span>
                                </a>
                                <h4 class="name"><a href="#">Jeremy Gardner</a></h4>
                                <span class="position">Blockchain Researcher</span>
                                <span class="role"><strong>Role:</strong> Technical Evaluator</span>
                            </div> -->
                        </div>
                        <div class="col-sm-4">
                            <div class="member-team">
                                <a href="#">
                                    <span data-picture data-alt="illustration" class="img">
                                    <span data-src="img/teamMembers/bitgo.png"></span>
                                    <span data-src="img/teamMembers/bitgo.png" data-media="(min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)"></span>
                                    <noscript>
                                        <img src="img/teamMembers/bitgo.png" alt="illustration" />
                                    </noscript>
                                    </span>
                                </a>
                                <h4 class="name"><a href="#">BitGo</a></h4>
                                <span class="position">Multi-Sig Provider</span>
                                <span class="role"><strong>Role:</strong> Key Manager</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="divider two" />
        </div>
    </section>
    <!-- FUND MANAGEMENT SECTION END -->


    <!-- FUND ALLOCATION SECTION -->
    <section class="fund-allocation-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="smaller-headings-section">Fund allocation</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p>The proceeds from this software sale will be primarily used for making sure Augur developers are incentivized to constantly improve the product beyond their initial release. Specific costs are found from the development of the network infrastructure, paying for servers (for our blockchain.info style solution for people who don't want to run the full client), paying for bandwidth, marketing, as well as legal and business development.</p>
                    <div class="holder-progress-bars">
                        <div>
                            <h6 class="smallest-headings">Development Compensation &amp; Ops</h6>
                            <div class="progress-bar dark"><span style="width:75%">75%</span>
                            </div>
                        </div>
                        <div>
                            <h6 class="smallest-headings">Legal Contingency Fund</h6>
                            <div class="progress-bar normal"><span style="width:20%">15%</span>
                            </div>
                        </div>
                        <div>
                            <h6 class="smallest-headings">Marketing & Community Outreach</h6>
                            <div class="progress-bar light"><span style="width:10%">10%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="divider two" />
        </div>
    </section>
    <!-- FUND ALLOCATION SECTION END -->


    <!-- TOKEN MANAGEMENT SECTION -->
    <section class="token-management-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="smaller-headings-section">Token Issuance</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p>Reputation (REP) is the token that allows an individual to report on the outcome of events (and receive part of the system’s trading fees as compensation.) All 11,000,000 REP tokens that will ever exist will during the software sale will be distributed at the end of the software sale. The distribution of tokens will be constantly shifting in real-time as new participants buy into the system using our novel “Live-Action” token distribution software to create a true free market pricing.
                    </p>
                    <div class="holder-progress-bars">
                        <div>
                            <h6 class="smallest-headings">Public Software Sale</h6>
                            <div class="progress-bar dark">
                                <span style="width:80%">80%</span>
                            </div>
                        </div>
                        <div>
                            <h6 class="smallest-headings">Early Angels & Founding Team</h6>
                            <div class="progress-bar normal">
                                <span style="width:16%">16%</span>
                            </div>
                        </div>
                        <div>
                            <h6 class="smallest-headings">Forecast Foundation</h6>
                            <div class="progress-bar light">
                                <span style="width:4%">4%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- TOKEN MANAGEMENT SECTION END -->



    </div>

</body>

</html>