<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>Augur Crowdsale</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,600,700,400italic,300italic,300,100,500&amp;subset=latin-ext,vietnamese' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/flexslider.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.structure.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script type="text/javascript" src="js/vendor/jquery.js"></script>
    <script type="text/javascript" src="js/vendor/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="js/vendor/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/vendor/picturefill.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
</head>

<body class="subpage">
<p> Salut! Haiduke! </p>
</body>

</html>